.scroll-button {
  position: fixed;
  right: 40px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #666;
  box-shadow: 1px 1px 8px 0 #aaa;
}

.scroll-button a {
  display: block;
  height: 100%;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
